<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 现在使用spring-context扫描机制来确定 -->
    <!--<typeAliases>-->
        <!--<package name="modules.account.entity"/>-->
        <!--&lt;!&ndash;<typeAlias alias="User" type="modules.account.entity.User"/>&ndash;&gt;-->
    <!--</typeAliases>-->
</configuration>